body
{
    height: 768px;
    width: 1024px;
    background-size: 1032px;
}

#interrogant 
{
    position: absolute;
    top: 100px;
    left: 400px;
    transition: transform 2s;
    transition-timing-function: ease-in-out;
}

#interrogant:hover 
{
  transform: rotate(1080deg);
}

#fons
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 775px;
    width: 1033px; 
}

.foc {
    
     position: absolute;
    top: 430px;
    left: 300px;
    height: auto;
    width: auto; 
  background: yellow;
  cursor: pointer;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
 
}
.foc:hover {
  background: red;
}

@keyframes slide {
  0% {
    left: 0;
    top: 200;
  }
  100% {
    left: 240px;
    top: 200;
  }
}
.moviment {
  
  height: 150px;
  position: absolute;
  top: 150px;
  left: -100px;
  width: 540px;
  height: 550px;
    
}
.moviment .porc:hover {
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.porc {
  
  position: absolute;
  top: 230px;
    
}

#flecha
{
    position: absolute;
    top: 650px;
    left: 850px;
    height: 100px;
    width: 150px;
}


